/* 폰트 */ 

@font-face {
    font-family: 'SUIT';
    src: url('../fonts/SUIT.ttf') format('truetype');
}

body{
    font-family: 'SUIT', sans-serif;
}

/* 로고 이미지 */
.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width:70px;
    height:70px;
    object-fit:contain;
}

.logo h1{
    font-size:32px;
}